body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    height: fit-content;
    font-weight: bold;
}

p,
h3 {
    margin-left: 4ch;
}

#page_discription {
    margin: auto 1ch;
    vertical-align: middle;
}

.indent_3 {
    margin-left: 8ch;
}